.header {
  position: fixed; /* Makes header non-scrollable */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(90deg, #FFD54F 0%, #FFA726 100%);
  box-sizing: border-box;
  border-bottom: 1px solid #bb8d00;
  z-index: 1000; /* Keeps header above other elements */
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 30%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #fff3cd;
  font-size: 16px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-items > ul > li {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  color: #212121;
  transition: color 0.3s ease;
}

.nav-items > ul > li:hover {
  /* color: #FF7043; */
  color: white;
  cursor: pointer;
  font-weight: 900;
}

.cart-icon {
  font-size: 18px;
}

/* Responsive header */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 15px;
  }
  .search-bar {
    width: 80%;
    margin-top: 10px;
  }
  .nav-items > ul {
    flex-direction: column;
    align-items: center;
  }
}

.logo{
 width: 60px;
}
.link-style{
  text-decoration: none;
  color: inherit;
}